<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <!-- The "Dashboard" will be the front page of this application. Make its design efficient by 
    using TEMPLATE INHERITANCE wherever you can. 

    Store images, javascript, and CSS styling in static files. Keep the HTML clean.-->
    
    <h1>DASHBOARD</h1>

    <ul>
        <li><a href="/load_workout_tree">WORKOUT TREE</a></li>
        <li><a href="load_routine_builder">A ROUTINE</a></li>
        <li><a href="/load_progress_page">PROGRESS</a></li>
    </ul>

    <hr>

    <!-- Example of how to load an app's image, Javasript, or CSS file from static folder
    {% load static %}
    <img src="{% static "Rover Selfie.JPG" %}" alt="My image"> -->
</body>
</html>