<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Builder</title>
</head>
<body>
    <h1>BUILD A PROFILE</h1>

    <form action="/build_profile" method="POST">     
        {% csrf_token %}     
        Name : <input type="text" name="name" value="{{request.session.name}}"><br>
        Username : <input type="text" name="username" value="{{request.session.username}}"><br>
        Age : <input type="number" name="age"><br>
        Weight : <input type="text" name="weight"><br>
        <input type="submit" value="Build Profile" style="background-color: blue; color: white;">
    </form>
</body>
</html>