<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workout Tree</title>
</head>
<body>
    YOU'VE REACHED THE WORKOUT TREE

    <ul>
        <li><a href="/load_workout_education_base">Weightlifting</a></li>
        <li><a href="/load_workout_education_base">Calisthenics</a></li>
        <li><a href="/load_workout_education_base">Endurance Training</a></li>
    </ul>
</body>
</html>